.search-results-div {
    margin: 20px;
    padding: 5px;
    min-height: 80vh;
}

.biz-results-h2 {
    display: flex;
    justify-content: center;
}

.search-result-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.inner-search-div {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 50%;
    display: flex;
    padding: 20px;

}

.inner-search-div:hover {
    box-shadow: 0px 0px 10px lightgray;
}

.result-img {
    width: 30%;
    height: auto;
    border-radius: 4px;

}

.biz-result-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.biz-page-link {
    text-decoration: none;
    display: flex;
    color: black;
}

.result-title {
    font-size: 20px;
    font-weight: bold;
}
.result-text {
    color: grey;
}

.no-results-div {
    margin-top: 30px;
}

.no-results-title {
    display: flex;
    justify-content: center;
}

.search-suggest {
    display: flex;
    justify-content: center;
}

.no-tea-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.no-tea {
    width: 50%;
    height: auto;
    border-radius: 4px;
}
