#background-image-main {
    background-image: url(../../images/tea6.jpg);
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    aspect-ratio: 1/1;
    width: 100vw;
    height: 100vh;

}
