footer {
    background-color: #f7f7f7;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    height: 150px;
    clear: both;
}

.footer-div {
    width: 100%;
}

.footer-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    padding-top: 40px;
    font-size: 14px;
    color: grey;
}
