.bg-one {
    background-image: url(../../images/tea6.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    aspect-ratio: 1/1;
    width: 100vw;
    height: 100vh;
}

.bg-two {
    background-image: url(../../images/tea7.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    aspect-ratio: 1/1;
    width: 100vw;
    height: 100vh;
}

.bg-three {
    background-image: url(../../images/tea8.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    aspect-ratio: 1/1;
    width: 100vw;
    height: 100vh;
}

.wrap {
    min-height: 80vh;
}

.main {
    overflow: auto;
    padding-bottom: 180px;
}

.splash-title-div {
    width: 50%;
}

.splash-title {
    color: rgb(72, 53, 220);
    padding-left: 40px;
    font-size: 50px;
    width: 100%;
    max-width: 50%;
    margin-top: 60px;
}
