*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
   }

header {
    display: flex;
    justify-content: center;
    background-color: rgb(161, 102, 216);
    padding: 12px 0px;
}
.logo-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.logo {
    width: 40px;
    height: auto;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#cafe-login-pic {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

#login-form-div {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
