*{
    margin: 0;
    padding: 0;
   }

header {
    display: flex;
    justify-content: center;
    background-color: rgb(161, 102, 216);
    padding: 12px 0px;
}
.logo-link {
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

img {
    width: 40px;
    height: auto;
}
