.no-resource-h2 {
    display: flex;
    justify-content: center;
    color: rgb(72, 53, 220);;
    font-size: 50px;
    margin-top: 25px;
    font-weight: 400;
}

#no-resource-img-div {
    background-image: url(../../images/no-resource.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    aspect-ratio: 1/1;
    width: 100vw;
    height: 100vh;
}
