.header-main-page {
    padding: 24px 40px 0px;
    background-color: rgb(0, 0, 0, .1);
}
.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
}

.nav-li-list {
    display: flex;
    align-items: center;
}

.nav-login {
    border: 2px solid white;
    color: white;
}

.nav-signup {
    border: 2px solid rgb(161, 102, 216);
    background-color: rgb(161, 102, 216);
    color: white;
    margin-left: 12px;
}
